@import '../../../assets/scss/variables';
.sliderButtons {
  display: flex;
  align-items: center;
  gap: 10px;
  > button {
    width: 35px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.left {
      transform: rotate(-180deg);
    }
    img {
      object-fit: contain;
      object-position: center;
    }
  }
}
