$black: rgba(0, 0, 0, 1);
$black80: rgba(52, 52, 52, 1);
$black60: rgba(98, 98, 98, 1);
$black40: rgba(149, 149, 149, 1);
$black20: rgba(204, 204, 204, 1);
$black10: rgba(232, 232, 232, 1);

$green: rgba(74, 170, 78, 1);

$white: rgba(255, 255, 255, 1);

$text-shadow: 0 4px 25px #000000;
