@import '../../../assets/scss/variables';
.phrase {
  margin-top: 36px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  .description {
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
    }
    p {
      width: 100%;
      margin: 30px 0 40px;
      color: $black60;
      @media (min-width: 768px) {
        width: 70%;
      }
    }
    a {
      margin: 0 auto;
      @media (min-width: 768px) {
        margin: 0 0;
      }
    }
  }
  .photo {
    min-height: 381px;
    background: url('../../../../public/images/main/phrase.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
